<% provide(:section,"Manage users") %>
<div class="row">
	<div class="span8 offset2">
		<%= render 'user_form' %>
	</div>
</div>
<div class="row">
	<div class="span8 offset2">
		<%= render 'user_list' %>		
	</div>
</div>
