// @import 'bootstrap';
@import 'mixins';
$red: #9d261d;
$blueMain: #002c47;
$blueDark: #00151f;
$blueLight: #8dc4ce;

$blueMain: adjust-hue(#002c47,15); // nice dark blue


.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
td.icon { text-align: center; }
body {
	background-color: lighten($blueMain,84%);
}

.well { 
	padding-top: 0;
	border-radius: 0px; 
	box-shadow: none; 
}


.menu {

	.nav-list { padding-right: 0;}
	.affix {
		top: 60px;
		width: inherit;
	}
	@media (max-width: 767px) {
		margin-top: -20px;
	}

	ul {
		padding-left: 0;
		li { 
			margin: 3px 0 3px 0;
			&.nav-header { 
				font-size: 13px;
				color: desaturate(lighten($blueMain,20%), 60%);
			}
			a {
				text-shadow: none;
				padding: 10px 30px 10px 30px;
				color: white;
				background-color: desaturate(lighten($blueMain, 20%),60%);
				i { 
					padding-top: 4px; 
					visibility: hidden;
				}
				&:hover, &:focus, &:active {
					background-color: lighten($blueMain,40%);
					i { visibility: visible; }
				}
			}
		}
	}
}
input[type='text'], input[type='password'] {
	width: 400px;
	max-width: calc(100% - 14px);
}
.navbar-inverse, input[type='text'], input[type='password'] { font-size: 13px; }

.navbar-inverse {
	
	border-bottom: 1px solid darken($blueMain,10%);
	&.navbar-fixed-top {
		@media (max-width: 979px) {
				margin-bottom: 0px;
		}
		
	}
	.navbar-inner {
		// @include gradient($blueDark, $blueMain);
		background-image: none;
		background-color: $blueMain;

		padding-left: 0;
		padding-right: 0; 
		
		@media (max-width: 979px) {
			padding-top: 0;
			padding-bottom: 0;
		}
		@media (min-width: 979px) {
			.container { margin : 0; }
		}
		.nav {
			> li {
				> a { padding: 10px;}
				@media (min-width: 980px) {
					border-left: 1px solid darken($blueMain,6%);
					border-right: 1px solid lighten($blueMain,6%);
					&:last-of-type { box-shadow: 1px 0 0 darken($blueMain,6%); }
					
				}
			}	
		}
	}
}


.navbar {
	+ .section-head {
		@media (min-width: 980px) {
			padding-top: 42px;
		}
	}
	+ div { 
		@media (min-width: 980px) {
			padding-top: 62px; 
		}
	}	
}

.section-head {
	font-family: 'Ubuntu Light';
	box-shadow: inset 0px -12px 7px -12px #aaa;
	background-color: lighten($blueMain,78%);
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid white;
	h2 {
		margin-bottom: 0;
		margin-top: 0;
		padding: 8px 20px;
	}
	@media (max-width: 767px) {
			position: static;
			margin-left: -20px;
			margin-right: -20px;
			left: 0;
			right: 0;
	}
}

.section-body {
	padding: 20px;
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
	}
}





.login-form {
	width: 400px;
	max-width: 100%;

	.btn-primary {
		padding: 12px 12px;
		width: 400px;
		max-width: 100%;
		@include gradient(lighten($blueMain,20%),$blueMain);
		&:focus, &:hover {
			background-color: $blueMain;	
		}
	}
}
.user-form {
	// .well { padding-top: 0px; }
	.privs { 
		box-shadow: -1px 0px 0px lighten(gray,40%), -2px 0px 0px lighten(gray,60%); 
		@media (max-width: 767px) {
			box-shadow: none;
		}
	}
	span, ul {
		padding-left: 28px;
		list-style-type: none;
		label.checkbox { padding-left: 10px; }
		li.add { padding-top: 0.5rem;}
		span, ul { padding-left: 0;}
		
	}
}


