// @import 'bootstrap';
@import 'mixins';
$red: #9d261d;
$blueMain: #002c47;
$blueDark: #00151f;
$blueLight: #8dc4ce;

$blueMain: adjust-hue(#002c47,15); // nice dark blue


.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
td.icon { text-align: center; }
body {
	background-color: lighten($blueMain,84%);
}

.basewell { 
	@extend .well;
	box-shadow: none;
	border-radius: 0px; 
	box-shadow: 0 5px 10px lighten(black,90%), inset 0px 1px 0px white;
	padding-bottom: 0;
	> form { margin-bottom: 0;}
	&.delegation { 
		padding-top: 0px;
		padding-left: 14px;
		padding-bottom: 18px;

	}
	// > :last-child { margin-bottom: 18px; }
	.basewell-head {
		border-bottom: 1px solid white;
		box-shadow: inset 0px -12px 7px -12px #aaa;
		background-color: desaturate(lighten($blueMain,20%), 60%);
		margin: 18px -18px 18px -18px;
		&:first-of-type { margin-top: -18px; }
		color: white;
		> div { 
			margin-left: 15px; 
			@extend h4;
		}
	}
	
	.basewell-foot {
		background-color: darken(whitesmoke,5%);
		margin: 18px -18px 1px -18px;
		padding: 10px 0px 10px 0px;
		border-top: 1px solid white;
		box-shadow: inset 0px 12px 7px -12px #aaa;
		.span1,.span5,.span6 { margin-left: 15px;}
	}
}


.menu {

	.nav-list { padding-right: 0;}
	.affix {
		top: 60px;
		width: inherit;

		@media (max-width: 767px) {
			top: 0px;
			position: relative;
		}
	}
	@media (max-width: 767px) {
		margin-top: -20px;
	}

	ul {
		padding-left: 0;
		li { 
			margin: 3px 0 3px 0;
			&.nav-header { 
				font-size: 13px;
				color: desaturate(lighten($blueMain,20%), 60%);
			}
			a {
				text-shadow: none;
				padding: 10px 30px 10px 30px;
				color: white;
				background-color: desaturate(lighten($blueMain, 20%),60%);
				i { 
					padding-top: 4px; 
					visibility: hidden;
				}
				&:hover, &:focus, &:active {
					background-color: lighten($blueMain,40%);
					i { visibility: visible; }
				}
			}
		}
	}
}

.navbar-inverse, 
input[type='text'], 
input[type='password'], 
input[type='email'],
input[type='tel'],
select { font-size: 13px; }

.navbar-inverse {
	
	border-bottom: 1px solid darken($blueMain,10%);
	&.navbar-fixed-top {
		@media (max-width: 979px) {
				margin-bottom: 0px;
		}
		
	}
	.navbar-inner {
		// @include gradient($blueDark, $blueMain);
		background-image: none;
		background-color: $blueMain;

		padding-left: 0;
		padding-right: 0; 
		
		@media (max-width: 979px) {
			padding-top: 0;
			padding-bottom: 0;
		}
		@media (min-width: 979px) {
			.container { margin : 0; }
		}
		.nav {
			> li {
				> a { padding: 10px;}
				@media (min-width: 980px) {
					border-left: 1px solid darken($blueMain,6%);
					border-right: 1px solid lighten($blueMain,6%);
					&:last-of-type { box-shadow: 1px 0 0 darken($blueMain,6%); }
					
				}
			}	
		}
	}
}


.navbar {
	+ .section-head {
		@media (min-width: 980px) {
			padding-top: 42px;
		}
	}
	+ div { 
		@media (min-width: 980px) {
			padding-top: 62px; 
		}
	}	
}

.add-quick-menu {
	top: -7px;
	position: absolute;
	z-index: 1031;
	width: 220px;
	left: calc(50% - 110px);
	text-align: center;
	div { 
		display: inline-block;
		background-color: desaturate(lighten($blueMain,30%),40%);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 6px 2px 2px 2px;
	}
}

.section-head {
	font-family: 'Ubuntu Light';
	background-color: lighten($blueMain,80%);
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid white;
	box-shadow: inset 0px -12px 7px -12px #aaa;
	h2, h3 {
		margin-bottom: 0;
		margin-top: 0;
		padding: 8px 20px;
	}
	@media (max-width: 767px) {
			position: static;
			margin-left: -20px;
			margin-right: -20px;
			left: 0;
			right: 0;
	}
}

.section-body {
	padding: 20px;
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
	}
}





.login-form {
	width: 400px;
	max-width: 100%;

	.btn-primary {
		padding: 12px 12px;
		width: 400px;
		max-width: 100%;
		@include gradient(lighten($blueMain,20%),$blueMain);
		&:focus, &:hover {
			background-color: $blueMain;	
		}
	}

	input[type='text'], input[type='password'] {
		width: 400px;
		max-width: calc(100% - 14px);
	}
}
.user-form {
	// .well { padding-top: 0px; }
	.privs { 
		box-shadow: -1px 0px 0px lighten(gray,40%), -2px 0px 0px lighten(gray,60%); 
		@media (max-width: 767px) {
			box-shadow: none;
		}
	}
	span, ul {
		padding-left: 28px;
		list-style-type: none;
		label.checkbox { padding-left: 10px; }
		li.add { padding-top: 0.5rem;}
		span, ul { padding-left: 0;}
		
	}
	input[type='text'], input[type='password'] {
		width: 400px;
		max-width: calc(100% - 14px);
	}
}

form.new_parent {

}
.addphone, .addchild { 
	// @extend .pull-right;
	@extend .span4;
	@extend .btn;
	@extend .btn-info;
	@extend .btn-small;
	width: auto;
	margin-bottom: 10px;
}
.phone_fieldset {
	&:first-of-type {
		select { width: 100%; max-width: 100%;}
		.removephone { display: none; }
	}
	select {
		width: 100%;
		max-width: calc(100% - 64px);
		@media (max-width: 1199px) {
			max-width: calc(100% - 56px);	
		}
		@media (max-width: 768px) {
			max-width: calc(100% - 42px);	
		}
		
	}
}
.removephone, .removechild {
	@extend .btn;
	@extend .btn-danger;
	@extend .btn-small;
	padding: 3px 12px 4px 12px;
	margin-bottom: 10px;
	margin-left: 28px;
	@media (min-width: 768px) and (max-width: 1199px) { 
		margin-left: 18px;
	}
	
	@media (max-width: 767px) {
		margin-left: 6px;
	}
	
	width: auto;	
}

.child_fieldset {
	select {
		width: 116px;
		max-width: calc(100% - 64px);
		@media (max-width: 1199px) {
			max-width: calc(100% - 56px);	

		}
		@media (max-width: 768px) {
			max-width: calc(100% - 42px);	
		}
		
	}
	box-shadow: 0 1px 0 lighten(black,80%);
	margin-bottom: 10px;
}
.dashtabs {
	.active {
		border-bottom: 1px solid red;
	}
}